<tr>
  <td>
    <%= currency.symbol %>
  </td>
  <% currency.bought.each do |bought| %>
    <td>
      <%= bought.find_exchange(currency).sold_rate %>
    </td>
  <% end %>
  <td>-</td>
  <% currency.sold.each do |sold| %>
    <td>
      <%= currency.find_exchange(sold).bought_rate %>
    </td>
  <% end %>
</tr>

